<!DOCTYPE html>
<html lang="en">
</html>
@using WebMatrix.Data
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="../Scripts/jquery-3.5.1.js"></script>
<script src="../Scripts/bootstrap.js"></script>
<script src="../Scripts/popper.js"></script>
@{
    var db = Database.Open("FoodDB");
    var sql = "select * from drivers as d join deliveries as deli on d.driver_id = deli.driver_id join orders as o on deli.delivery_order_id = o.order_id join payments as p on o.order_id = p.payment_order_id join channels as c on o.channel_id = c.channel_id where order_id=@0";
    var recordID = Request.QueryString["id"];
    var i = db.QuerySingle(sql, recordID);

}


<main class="container">
    <div class="jumbotron pt-1 pb-1 mt-2">
        <h2 class="text-center">Details Page</h2>
    </div>

    <form class="rown form-group" method="post" action="/Home/Details?id">
        <div class="row justify-content-start">
        </div>
    </form>

    @if (i != null)
    {
        <div class="row justify-content">

            <div class="card" style="width: 19rem; margin:12px; padding:0 0; background-color:azure">
                <h5><b>Order Details</b></h5>

                <p class="card-title">Order_ID:@i.order_id</p>
                <p class="card-text">Order_Status:@i.order_status</p>
                <p class="card-text">Order_Amount:@i.order_amount</p>
                <p class="card-text">Order_Delivery_Fee:@i.order_delivery_fee</p>
                <p class="card-text">Order_Delivery_Cost:@i.order_delivery_cost</p>

                <h5><b>Channel Details</b></h5>
                <p class="card-text">Channel_ID:@i.channel_id</p>
                <p class="card-text">Channel_Name:@i.channel_name</p>
                <p class="card-text">Cahnnel_Type:@i.channel_type</p>

                <h5><b>Delivery Details</b></h5>
                <p class="card-text">Delivery_ID:@i.delivery_id</p>
                <p class="card-text">Delivery_Distance_Meters:@i.delivery_distance_meters</p>
                <p class="card-text">Delivery_Status:@i.delivery_status</p>

                <h5><b>Driver Details</b></h5>
                <p class="card-text">Driver_ID:@i.driver_id</p>
                <p class="card-text">Driver_Modal:@i.driver_modal</p>
                <p class="card-text">Driver_Type:@i.driver_type</p>

            </div>
        </div>
    }
    else
    {
        <h2 class="text-danger text-center">Sorry! I didn't foind any orders </h2>

    }

</main>
