@using WebMatrix.Data
<link rel="stylesheet" href="/Content/Site.css">
@{
    var db = Database.Open("FoodDB");
    var pQuery = "select distinct payment_method from payments_new";
    var pData = db.Query(pQuery);
    var sql = "select * from orders_new as o\r\njoin payments_new as p\r\non o.order_amount = p.payment_amount\r\njoin channels as c\r\non o.channel_id = c.channel_id\r\njoin stores as s\r\non s.store_id = o.store_id where p.payment_method LIKE CONCAT(@0,'%') and p.payment_method LIKE CONCAT(@1,'%')";
    var output = db.Query(sql, Request.Form["selectText"], Request.Form["searchText"]);
}

<div class="jumbotron pt-1 pb-1 mt-2 ">
    <h2 class="text-center">Payment Analysis</h2>
</div>

<div class="row">
    <form method="post" action="/Home/Payment">

        <div class="input-group">
            <div class="col-4 dotted">
                <select class="form-control" name="selectText">

                    @foreach (var row in pData)
                    {
                        <option>@row.payment_method</option>
                    }
                </select>
            </div>

            &nbsp;&nbsp;&nbsp;
            <div class="input-group-append dotted">
                <button class="btn btn-outline-secondary" type="submit">Search by Payment Method</button>
            </div>
        </div>
    </form>
</div>
<br />
@foreach (var i in output)
{
    <div class="card justify-content-lg-around" style=" display: inline-block; margin: 10px; padding: 10px; width: 15rem;">
        <h5>Payment Details</h5><hr>
        <p class="card-text">Payment_ID:@i.payment_id</p>
        <p class="card-text">Payment_Method:@i.payment_method</p>
        <p class="card-text">Payment_Order_ID:@i.payment_order_id</p>
        <p class="card-text">Payment_Amount:@i.payment_amount</p>
        <p class="card-text">Payment_Fee :@i.payment_fee</p>

        <details>
            <summary><b>Order Details</b></summary>
            <p>
            <p class="card-title">Order_ID:@i.order_id</p>
            <p class="card-text">Order_Status:@i.order_status</p>
            <p class="card-text">Order_Amount:@i.order_amount</p>
            </p>
        </details>

        <details>
            <summary><b>Channel Details</b></summary>
            <p>
            <p class="card-text">Channel_ID:@i.channel_id</p>
            <p class="card-text">Channel_Name:@i.channel_name</p>
            <p class="card-text">Channel_Type:@i.channel_type</p>
            </p>
        </details>

        <details>
            <summary><b>Store Details</b></summary>
            <p>
            <p class="card-text">Store_ID:@i.store_id</p>
            <p class="card-text">Store_Name:@i.store_name</p>
            <p class="card-text">Store_Segment:@i.store_segment</p>
            <p class="card-text">Store_Plan_Price:@i.store_plan_price</p>
            <p class="card-text">Store_Latitude:@i.store_latitude</p>
            </p>
        </details>
    </div>

}
