@using WebMatrix.Data

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="../Scripts/jquery-3.5.1.js"></script>
<script src="../Scripts/bootstrap.js"></script>
<script src="../Scripts/popper.js"></script>
@{
    var db = Database.Open("FoodDB");
    var PaymentQuery = "select distinct payment_method from payments_new";
    var PaymentData = db.Query(PaymentQuery);
    var sql = "select * from orders_new as o join payments_new as p on o.order_amount = p.payment_amount join channels_new as c on o.channel_id = c.channel_id join stores_new as s   on s.store_id = o.store_id where p.payment_method LIKE CONCAT(@0, '%')";
    var output = db.Query(sql, Request.Form["searchText"]);
}

<div class="jumbotron pt-1 pb-1 mt-2 ">
    <h2 class="text-center">Payment Analysis</h2>
</div>


<div class="row">
    <form method="post" action="/Home/Payment">

        <div class="input-group">
            <div class="col-4">
                <select class="form-control" name="Search Payment Method">
                    <option>Payment Method...</option>
                    @foreach (var row in PaymentData)
                    {
                        <option>@row.payment_method</option>
                    }
                </select>
            </div>
            <div class="col-3 mb-1">
                <input type="text" class="form-control" placeholder="SearchText"/>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search using Payment_Method</button>
            </div>
        </div>
    </form>
</div>
<br />
@foreach (var i in output)
{
    <div class="card justify-content-lg-around" style=" display: inline-block; margin: 10px; padding:10px  ">
        <h5>Payment Details</h5>
        <p class="card-text">Payment_ID:@i.payment_id</p>
        <p class="card-text">Payment_Method:@i.payment_method</p>
        <p class="card-text">Payment_Amount:@i.payment_amount</p>
        <p class="card-text">Payment_Fee :@i.payment_fee</p>

        <h5><b>Channel Details</b></h5>
        <p class="card-text">Channel_ID:@i.channel_id</p>
        <p class="card-text">Channel_Name:@i.channel_name</p>
        <p class="card-text">Cahnnel_Type:@i.channel_type</p>

        <h5><b>Order Details</b></h5>
        <p class="card-title">Order_ID:@i.order_id</p>
        <p class="card-text">Order_Status:@i.order_status</p>
        <p class="card-text">Order_Amount:@i.order_amount</p>
        <p class="card-text">Order_Delivery_Fee:@i.order_delivery_fee</p>
        <p class="card-text">Order_Delivery_Cost:@i.order_delivery_cost</p>

        <h5><b>Store Details</b></h5>
        <p class="card-text">Store_ID:@i.store_id</p>
        <p class="card-text">Store_Name:@i.store_name</p>
        <p class="card-text">Store_Segment:@i.store_segment</p>
        <p class="card-text">Store_Plan_Price:@i.store_plan_price</p>
        <p class="card-text">Store_Latitude:@i.store_latitude</p>
        

    </div>

}
